.display_clientes{
    height: fit-content;
    margin: 0 20px;
}

.container_button{
    margin: 20px 0;
}

.container_table{
    max-height: 400px;
    overflow: auto;
    box-shadow: 0 3px 7px #a09797;
}