.button{
    background: #0044ff;
    color: #ebebeb;
    border: none;
    padding: 10px 15px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 3px #585858;
}

.button:hover{
    background: #0033be;
}

.button:active{
    background: #0044ff;
    box-shadow: none;
}