.header{
    margin-bottom: 20px;
}

.header>div{
    background: #f5f5f5;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #585858;
    padding: 0 20px 0 0;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px #585858;
}

.header>div .boton_usuario{
    position: relative;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    padding: 10px 0;
}

.header>div .boton_usuario:hover{
    color: black;
}

.header>div .boton_usuario i{
    font-size: 2.8rem;
}

.header>div .boton_usuario ul{
    position: absolute;
    top: 57px;
    list-style-type: none;
    padding-top: 10px;
    cursor: pointer;
}

.header>div .boton_usuario ul li{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 7px;
    box-shadow: 2px 2px 4px #585858;
}

.header>div .boton_usuario ul li::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 20px;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    background: inherit;
}

.header>div .boton_usuario ul li:hover{
    color: black;
}

.header>div .boton_usuario ul li i{
    font-size: 2rem;
}


.header h2{
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 20px;
}