.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(14, 14, 14, 0.596);
    display: grid;
    place-items: center;
    z-index: 10;
}

.contenedor{
    background: #efefef;
    padding: 5px 10px;
}

.header_modal{
    display: flex;
    justify-content: space-between;

}

.header_modal h2, .header_modal i{
    font-size: 2rem;
    margin-bottom: 10px;
}

.header_modal i{
    color: #575757;
    cursor: pointer;
}
.header_modal i:hover{
    color: #161616;
}
.header_modal i:active{
    color: #000;
}

.body_modal{
    padding: 10px 40px;
}

.form{
    margin-top: 15px;
}

.group_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.group_input label{
    font-size: 1.4rem;
    color: #313131;
    margin-bottom: 2px;
}

.group_input input, 
.group_input select,
.group_input textarea{
    padding: 5px ;
}

.group_input textarea{
    resize: vertical;
}

.form p{
    font-size: 1.2rem;
}


.datos{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.datos_cliente, .datos_habitacion{
    padding: 10px;
    border: 1px solid #020120;
    border-radius: 5px;
    background: #f8f8f8;
}

.datos_cliente h2, .datos_habitacion h2{
    font-size: 1.8rem;
}

.datos_habitacion{
    width: 300px;
}

.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons button{
    padding: 8px 20px;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
}

.button_cancel{
    background: #555555;
    color: #efefef;
    border: none;
    cursor: pointer;
}

.button_cancel:hover{
    background: #3f3f3f;
}
.button_cancel:active{
    background: #555555;
}

.button_add{
    background: #0044ff;
    color: #ebebeb;
    cursor: pointer;
}
.button_add:hover{
    background: #0033be;
}
.button_add:active{
    background: #0044ff;
}

.select_and_plus{
    display: flex;
    align-items: center;
    gap: 5px;
}


.select_and_plus i{
    background-color: #0044ff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    font-size: 2.6rem;
    cursor: pointer;
}
.select_and_plus i:hover{
    background: #0033be;
}
.select_and_plus i:active{
    background-color: #0044ff;
}

.group_data{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.group_data h4{
    font-size: 1.4rem;
}

.group_data p{
    font-size: 1.2rem;
}