.table{
    text-align: center;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.4rem;
    width: 100%;
}

.table thead{
    background: #222;
    color: #e2e2e2;
    position: sticky;
    top: 0;
}

.table thead th{
    padding: 15px 0;

}

.table tbody{
    background: #ebebeb;
}

.table tbody tr{
    border-bottom: 1px solid #a7a7a7;
}

.table tbody tr td{
    padding: 15px;
}

.column_action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button_edit, .button_delete, .button_password{
    text-align: center;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.button_edit{
    background: rgb(212, 212, 0);
}

.button_delete{
    background: rgb(200, 0, 0);
}


.button_password{
    background: rgb(136, 136, 136);
}

.button_edit i, .button_delete i, .button_password i{
    display: grid;
    place-items: center;
}

.button_edit:hover{
    background: rgb(241, 241, 0);

}

.button_delete:hover{
    background: rgb(228, 0, 0);
    
}

.button_password:hover{
    background: rgb(155, 155, 155);
    
}